$black: #333333;
$white: #f5f5f5;
$completely-white: #ffffff;
$gray: #dddddd;

$generic-fonts: georgia, 'Source Sans Pro', -apple-system, 'Segoe UI', 'roboto', 'Helvetica Neue', sans-serif;
$generic-fonts-inter: 'Inter', 'Source Sans Pro', -apple-system, 'Segoe UI', 'roboto', 'Helvetica Neue', sans-serif;

%completely-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
